.div1 {
	background-color: #cc1216;
	height: 2px;
	margin: 10px;
}
.div2 {
	background-color: #cc1216;
	border-radius: 10px;
	border-width: 0%;
	margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 10px;
    margin-bottom: 10px;
    font-family: tahoma;
	font-size: 20px;
	color: white;
}
.headerDiv {
	position: relative;
}
.rules {
	color: white;
	font-family: tahoma;
	font-size: 20px;
	margin-left: 30px;
}
.view_league {
	display: inline;
	margin: 5px;
	font-family: tahoma;
	font-size: 20px;
}
.viewLeagueButton {
	font-family: tahoma;
   	font-size: 15px;
   	background-color: black;
   	color: white;
   	border: 0px;
   	border-radius: 5px;
   	padding: 2%;
   	cursor: pointer;
   	display: inline;
   	margin: 5px;
}
.div3 {
	position: absolute;
	right: 0px;
	bottom: 0px;
	display: inline;
}
.div4 {
	display: inline;
	font-family: tahoma;
	font-size: 18px;
	color: white;
}
.createLeagueButton {
	font-family: tahoma;
   	font-size: 20px;
   	background-color: black;
   	color: white;
   	border: 0px;
   	border-radius: 10px;
   	padding: 1%;
   	cursor: pointer;
   	display: block;
   	margin-left: auto;
    margin-right: auto;
}
.questionMarkButton {
	font-family: tahoma;
   	font-size: 15px;
   	background-color: black;
   	color: white;
   	border: 0px;
   	border-radius: 100%;
   	cursor: pointer;
   	display: inline;
}
.movieSelectionBox {
	background-color: #cc1216;
	width: 20%;
    padding: 10px;
    margin-left: 10px;
    font-family: tahoma;
	font-size: 20px;
	color: white;	
}
.movieSelectBoxTable {
	border-style: solid;
	border-color: black;
	border-width: thick;
	margin-right: 5px;
	margin-bottom:5px;
	width: 100%;
	height: 100%
}
.playerTableDiv {
	position: absolute;
	display: inline;
	left: 25%;
	bottom: 0px;
	width: 75%;
	height: 100%;
}
.finishButton {
	font-family: tahoma;
   	font-size: 20px;
   	background-color: black;
   	color: white;
   	border: 0px;
   	border-radius: 10px;
   	padding: 1%;
   	cursor: pointer;
   	display: block;
   	margin-left: 90%;
}
h2 {
    color: black;
    display: block;
    font-family: tahoma;
    font-size: 28px;
    padding: 1%;
    border: 0px;
} 
h3 {
    color: white;
    font-family: tahoma;
    margin-left: 20px;
    font-size: 25px
}
p {
   	margin-left: auto;
    margin-right: auto;
}
form {
   	margin-left: auto;
    margin-right: auto;
}